body {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7%;
    margin-right: 2%;
    background-color: #00081a;
    color: #99ccff;
}

a:link {
    text-decoration: none;
    color: #6699ff;
    border-bottom: 1px dotted #99ccff;
}
a:visited {
    text-decoration: none;
    color: #6699ff;
    border-bottom: 1px dotted #99ccff;
}
a:hover {
    text-decoration: none;
    color: #6699ff;
    border-bottom: 1px dotted #99ccff;
}
a:active {
    text-decoration: none;
    color: #6699ff;
    border-bottom: 1px dotted #99ccff;
}

#index {
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: -21;
}

#index_menu {
    visibility: hidden;
    border: 3px double rgb(139, 207, 211);
    background-color: rgb(72, 72, 72);
    opacity: 0.8;
    margin: 14px;
    padding: 7px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

nav ul li {
    display: inline-block;
    border: 1px solid rgb(139, 207, 211);
    padding: 7px;
    font-weight: bold;
}

nav ul li a:link {
    text-decoration: none;
    color: rgb(139, 207, 211);
    border: unset;
}
nav ul li a:visited {
    text-decoration: none;
    color: rgb(139, 207, 211);
    border: unset;
}
nav ul li a:hover {
    text-decoration: underline;
    color: rgb(139, 207, 211);
    border: unset;
}
nav ul li a:active {
    text-decoration: none;
    color: rgb(139, 207, 211);
    border: unset;
}

nav button, .index_toggle_off {
    background-color: rgb(14, 70, 102);
    color: rgb(166, 198, 226);
    border: 1px solid rgb(166, 198, 226);
    font-family: monospace;
}

.index_toggle_on {
    background-color: rgb(63, 110, 156);
    color: rgb(193, 239, 254);
    border: 1px solid rgb(193, 239, 254);
}

section.token {
    border: 1px solid rgb(78, 132, 171);
    margin-bottom: 14px;
    background-color: #000517;
    padding-left: 7px;
    padding-right: 3px;
}

section.data-type {
    border: 1px solid rgb(205, 161, 12);
    margin-bottom: 14px;
    padding-left: 7px;
    padding-right: 3px;
}

section.mcomp {
    background-color: rgb(0, 21, 39);
    border: 1px solid rgb(0, 100, 155);
    margin-bottom: 14px;
    padding-left: 7px;
    padding-right: 3px;
}

section.mcomp section {
    margin-left: 7px;
    margin-right: 7px;
}

h2 {
    color: rgb(182, 230, 253);
    border-bottom: 1px dotted #40485a;
    padding-bottom: 5px;
}

section.token h2 {
    color: rgb(254, 233, 78);
    font-family: monospace;
}

h3 {
    color: rgb(153, 203, 235);
}

pre {
    border: 1px solid rgb(0, 0, 127);
    background-color: #00082f;
    color: #a9dcff;
    margin-left: 7px;
    margin-right: 7px;
    padding: 3px 7px 3px 7px;
    font-size: 11pt;
}

span.comment {
    color: #99ffcc;
}

ul.properties {
    font-family: monospace;
    color: rgb(170, 210, 246);
    list-style-type: square;
}

ul.properties b {
    color: rgb(126, 170, 206);
}
