/*
    CSS classes: tags
    -----------------
    footnote: section
    copyright: small
    leaf: li
    symbol: a
    note: div
    file: pre, span
    cli: pre, code
    expression: pre
    script: pre, code
    comment: span
    keyword: h4, code, span
    logo_tocshown: p
    toccontainer_tocshown: div
    contents_tocshown: main
    footer_tocshown: footer

    Hidden TOC classes
    ---------------------
    logo_tochidden
    toccontainer_tochidden
    contents_tochidden
    footer_tochidden
*/

body {
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    text-align: center;
    margin-right: 3%;
    padding-left: 1%;
}
.logo_tocshown {
    margin-left: 23%;
}
.logo_tochidden {
    margin-left: 2%;
}

main {
    margin-right: 3%;
    padding-left: 1%;
}
.contents_tocshown {
    margin-left: 23%;
}
.contents_tochidden {
    margin-left: 2%;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 64, 96);
    font-size: 100%;
}

h2 {
    border-style: ridge;
    border-width: 3px;
    background: rgb(0, 64, 128);
    background-image: url(images/headingbg.png);
    background-position: top left;
    background-repeat: repeat-x;
    color: white;
    text-align: center;
    font-size: 100%;
}

h3 {
    color: rgb(0, 23, 128);
    text-align: center;
    font-style: italic;
}

sup {
    font-size: 8pt;
}

/**
 * Footer, footnote and copyright
 */
footer {
    border-top: 1px solid rgb(221, 223, 255);
    margin-right: 3%;
    text-align: right;
}
.footer_tocshown {
    margin-left: 21%;
}
.footer_tochidden {
    margin-left: 1%;
}
section.footnote {
    text-align: initial;
    font-size: 10pt;
    margin-left: 7%;
    margin-right: 21%;
}
section.footnote h2 {
    border: initial;
    background: initial;
    color: initial;
    text-align: initial;
    font: unset;
}
small.copyright {
    color: rgb(0, 64, 128);
}

/**
 * TOC
 */
div.toccontainer_tocshown {
    position: fixed;
    top: 3%;
    left: 0px;
    width: 21%;
    min-height: 94%;
    padding-left: 1%;
    padding-right: 1%;
    font-size: 10pt;
    border-right: 1px solid rgb(221, 223, 255);
}
.toccontainer_tochidden {
    position: fixed;
    top: 3%;
    left: 1%;
    width: 2px;
    min-height: 94%;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 10pt;
    border-left: 1px solid rgb(221, 223, 255);
}
#showhidetoc {
    position: fixed;
    top: 2%;
    left: 0px;
    width: 21%;
    padding-left: 1%;
    padding-right: 1%;
}
#showtoc {
    visibility: hidden;
}
#hidetoc {
    position: absolute;
    right: 0px;
}
#showhidetoc img {
    cursor: pointer;
}
nav ul {
    padding: 0px;
    margin: 0px;
}
nav ul li {
    list-style-type: none;
    font-weight: bold;
    margin: 2px 20px 2px 20px;
}
nav ul li ul {
    visibility: hidden;
    position: absolute;
}
nav a:link    {
    text-decoration: none;
    color: rgb(0, 0, 128);
}
nav a:visited {
    text-decoration: none;
    color: rgb(0, 0, 128);
}
nav a:hover   {
    text-decoration: underline;
    color: rgb(0, 0, 128);
}
nav a:active  {
    text-decoration: none;
    color: rgb(0, 0, 128);
}
nav img {
    cursor: pointer;
    margin-right: 3px;
}

/**
 * Leaf
 */
li.leaf {
    font-weight: normal;
}

/**
 * Symbol reference links
 */
a.symbol:link {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
a.symbol:visited {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}
a.symbol:hover {
    text-decoration: underline;
    color: blue;
    font-weight: bold;
}
a.symbol:active {
    text-decoration: none;
    color: blue;
    font-weight: bold;
}

/**
 * Note
 */
div.note {
    border-top: 1px solid rgb(0, 64, 128);
    border-bottom: 1px solid rgb(0, 64, 128);
    margin-left: 2%;
    margin-right: 2%;
    padding: 5px;
}

/**
 * File
 */
pre.file {
    margin-left: 2%;
}
span.file {
    font-family: monospace;
}

/**
 * CLI
 */
pre.cli {
    color: rgb(64, 64, 96);
    font-weight: bolder;
    padding: 1%;
    margin-left: 2%;
}
code.cli {
    color: rgb(64, 64, 96);
    font-weight: bolder;
}

/**
 * Expression
 */
pre.expression {
    color: blue;
    margin-left: 2%;
}

/**
 * Script
 */
pre.script {
    border: 1px solid #cccccc;
    color: rgb(0, 32, 128);
    padding: 3px;
    margin: 1% 3% 1% 3%;
}
code.script {
    color: rgb(0, 32, 128);
}

/**
 * Comment
 */
span.comment {
    color: rgb(0, 123, 21);
}

/**
 * Keyword
 */
h4.keyword {
    color: rgb(0, 32, 128);
}
code.keyword {
    color: rgb(0, 32, 128);
    font-weight: bolder;
}
span.keyword {
    font-weight: bolder;
}
